<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>createAirlineServlet</servlet-name>
  	<display-name>createAirlineServlet</display-name>
  	<description></description>
  	<servlet-class>flyaway.servlets.createAirlineServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>createCustomerServlet</servlet-name>
  	<display-name>createCustomerServlet</display-name>
  	<description></description>
  	<servlet-class>flyaway.servlets.createCustomerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerLoginServlet</servlet-name>
  	<display-name>CustomerLoginServlet</display-name>
  	<description></description>
  	<servlet-class>flyaway.servlets.CustomerLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>customerLogoutServlet</servlet-name>
  	<display-name>customerLogoutServlet</display-name>
  	<description></description>
  	<servlet-class>flyaway.servlets.customerLogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>createAirportServlet</servlet-name>
  	<display-name>createAirportServlet</display-name>
  	<description></description>
  	<servlet-class>flyaway.servlets.createAirportServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>createRouteServlet</servlet-name>
  	<display-name>createRouteServlet</display-name>
  	<description></description>
  	<servlet-class>flyaway.servlets.createRouteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>modifyRouteServlet</servlet-name>
  	<display-name>modifyRouteServlet</display-name>
  	<description></description>
  	<servlet-class>flyaway.servlets.modifyRouteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>removeRouteServlet</servlet-name>
  	<display-name>removeRouteServlet</display-name>
  	<description></description>
  	<servlet-class>flyaway.servlets.removeRouteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>removeAirportServlet</servlet-name>
  	<display-name>removeAirportServlet</display-name>
  	<description></description>
  	<servlet-class>flyaway.servlets.removeAirportServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>modifyAirportServlet</servlet-name>
  	<display-name>modifyAirportServlet</display-name>
  	<description></description>
  	<servlet-class>flyaway.servlets.modifyAirportServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>removeAirlineServlet</servlet-name>
  	<display-name>removeAirlineServlet</display-name>
  	<description></description>
  	<servlet-class>flyaway.servlets.removeAirlineServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>modifyAirlineServlet</servlet-name>
  	<display-name>modifyAirlineServlet</display-name>
  	<description></description>
  	<servlet-class>flyaway.servlets.modifyAirlineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>createAirlineServlet</servlet-name>
  	<url-pattern>/createAirlineServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>createCustomerServlet</servlet-name>
  	<url-pattern>/createCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerLoginServlet</servlet-name>
  	<url-pattern>/CustomerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>customerLogoutServlet</servlet-name>
  	<url-pattern>/customerLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>createAirportServlet</servlet-name>
  	<url-pattern>/createAirportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>createRouteServlet</servlet-name>
  	<url-pattern>/createRouteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>modifyRouteServlet</servlet-name>
  	<url-pattern>/modifyRouteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>removeRouteServlet</servlet-name>
  	<url-pattern>/removeRouteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>removeAirportServlet</servlet-name>
  	<url-pattern>/removeAirportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>modifyAirportServlet</servlet-name>
  	<url-pattern>/modifyAirportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>removeAirlineServlet</servlet-name>
  	<url-pattern>/removeAirlineServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>modifyAirlineServlet</servlet-name>
  	<url-pattern>/modifyAirlineServlet</url-pattern>
  </servlet-mapping>
</web-app>
